# Build artifacts
*.o

# Binaries
build/*
gui/build/*

# Doxygen
doc/html

# Scons temporary project files
.scon*

# CMake temporary project files
CMakeLists.txt.*

# QtCreator temporary project files
SmartServoFramework.config
SmartServoFramework.creator*
SmartServoFramework.files
SmartServoFramework.includes

# QMake temporary project files (gui)
gui/SmartServoGui.pro.*
gui/Makefile

#Netbeans Project Files
nbproject/*
