# Binaries and build artifacts
*.o
build/*
SmartServoGui/build/*
SmartServoGui/bin/*

# Doxygen
documentation/html

# CMake generated & temporary project files
CMakeLists.txt.*
SmartServoFramework/SmartServoFramework_export.h
SmartServoFramework/SmartServoFramework_settings.h

# QtCreator temporary project files
SmartServoFramework.config
SmartServoFramework.creator*
SmartServoFramework.files
SmartServoFramework.includes

# QMake temporary project files (gui)
SmartServoGui/SmartServoGui.pro.*
SmartServoGui/.qmake.stash
SmartServoGui/Makefile

# Scons temporary project files (examples)
examples/.scon*
examples/build/*

# Others
stash/*
nbproject/*
